html ,body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 2em rgba(255, 255, 255, 0) inset !important;
  background-color: transparent !important;
  background-clip: text;
}